@(folder: String)(step1: String)(step2: String)(progress: String)

@main("Query collection") {

	<div class="main">
    <h1>Instructions</h1>
    <h2>Please type in a query and select several graphs that match your query.</h2>
    <h2><a href="exapmle.html">Example</a></h2>
    <form id="form1">
        <h3>Insert query for step 1:</h3>
        <input type="text" id="query1" class="submissionfield"><br>
        <h3>Insert query for step 2:</h3>
        <input type="text" id="query2" class="submissionfield"><br>

        <div class="graphs">
            <div id="graph_0"></div>
            <div id="graph_1"></div>
            <div id="graph_2"></div>
            <div id="graph_3"></div>
            <div id="graph_4"></div>
            <div id="graph_5"></div>
            <div id="graph_6"></div>
            <div id="graph_7"></div>
            <div id="graph_8"></div>
            <div id="graph_9"></div>
            <div id="graph_10"></div>
            <div id="graph_11"></div>
            <div id="graph_12"></div>
            <div id="graph_13"></div>
            <div id="graph_14"></div>
        </div>
        <input type="submit">
    </form>
</div>
<progress value="@progress" max="18"></progress>
<script>generateGraphs("@folder");selectStep1("@step1");selectStep2("@step2")</script>


}
